/* Importa las directrices de Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define variables CSS para el esquema de colores */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Configura variables para el esquema de color oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Estilos globales para el cuerpo del documento */
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
}

/* Agrega clases personalizadas a la capa de utilidades de Tailwind */
@layer utilities {
  .text-balance {
    text-wrap: balance; /* Esta propiedad está en desuso, podrías considerar alternativas */
  }
}
